In [18]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("cut_data.csv")

In [3]:
data.head()

,Unnamed: 0,product_tier,make_name,price,first_zip_digit,first_registration_year,created_date,deleted_date,search_views,detail_views,ctr,stock_days2,age
0,0,Basic,Mitsubishi,16750,5,2013,2018-07-24,2018-08-24,3091.0,123.0,0.037803,32.0,6
1,1,Basic,Mercedes-Benz,35950,4,2015,2018-08-16,2018-10-07,3283.0,223.0,0.067926,53.0,4
2,2,Basic,Mercedes-Benz,11950,3,1998,2018-07-16,2018-09-05,3247.0,265.0,0.081614,52.0,21
3,3,Basic,Ford,1750,6,2003,2018-07-20,2018-10-29,1856.0,26.0,0.014009,102.0,16
4,4,Basic,Mercedes-Benz,26500,3,2014,2018-08-28,2018-09-08,490.0,20.0,0.040816,12.0,5

In [4]:
data.columns

Index(['Unnamed: 0', 'product_tier', 'make_name', 'price', 'first_zip_digit',
       'first_registration_year', 'created_date', 'deleted_date',
       'search_views', 'detail_views', 'ctr', 'stock_days2', 'age'],
      dtype='object')

In [6]:
data = data.drop("Unnamed: 0", axis='columns')

In [7]:
data.groupby("make_name").count()

,product_tier,price,first_zip_digit,first_registration_year,created_date,deleted_date,search_views,detail_views,ctr,stock_days2,age
make_name,,,,,,,,,,,
Alfa Romeo,532,532,532,532,532,532,532,532,532,532,532
Audi,3311,3311,3311,3311,3311,3311,3311,3311,3311,3311,3311
BMW,4551,4551,4551,4551,4551,4551,4551,4551,4551,4551,4551
Caravans-Wohnm,95,95,95,95,95,95,95,95,95,95,95
Chevrolet,485,485,485,485,485,485,485,485,485,485,485
Chrysler,117,117,117,117,117,117,117,117,117,117,117
Citroen,3017,3017,3017,3017,3017,3017,3017,3017,3017,3017,3017
Dacia,440,440,440,440,440,440,440,440,440,440,440
Daewoo,91,91,91,91,91,91,91,91,91,91,91
Daihatsu,197,197,197,197,197,197,197,197,197,197,197
Dodge,139,139,139,139,139,139,139,139,139,139,139
Fiat,2588,2588,2588,2588,2588,2588,2588,2588,2588,2588,2588
Ford,5196,5196,5196,5196,5196,5196,5196,5196,5196,5196,5196
Honda,536,536,536,536,536,536,536,536,536,536,536
Hyundai,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800
Iveco,222,222,222,222,222,222,222,222,222,222,222
Jaguar,275,275,275,275,275,275,275,275,275,275,275
Jeep,160,160,160,160,160,160,160,160,160,160,160
Kia,1931,1931,1931,1931,1931,1931,1931,1931,1931,1931,1931
Lancia,77,77,77,77,77,77,77,77,77,77,77
Land Rover,545,545,545,545,545,545,545,545,545,545,545
Lexus,303,303,303,303,303,303,303,303,303,303,303
MINI,1234,1234,1234,1234,1234,1234,1234,1234,1234,1234,1234
Mazda,1198,1198,1198,1198,1198,1198,1198,1198,1198,1198,1198
Mercedes-Benz,4756,4756,4756,4756,4756,4756,4756,4756,4756,4756,4756
Mitsubishi,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067
Nissan,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014
Oldtimer,108,108,108,108,108,108,108,108,108,108,108
Opel,5215,5215,5215,5215,5215,5215,5215,5215,5215,5215,5215
Peugeot,5446,5446,5446,5446,5446,5446,5446,5446,5446,5446,5446
Porsche,524,524,524,524,524,524,524,524,524,524,524
Renault,6948,6948,6948,6948,6948,6948,6948,6948,6948,6948,6948
SEAT,1769,1769,1769,1769,1769,1769,1769,1769,1769,1769,1769
Saab,186,186,186,186,186,186,186,186,186,186,186
Skoda,1514,1514,1514,1514,1514,1514,1514,1514,1514,1514,1514
Subaru,162,162,162,162,162,162,162,162,162,162,162
Suzuki,1312,1312,1312,1312,1312,1312,1312,1312,1312,1312,1312
Tesla,84,84,84,84,84,84,84,84,84,84,84
Toyota,3922,3922,3922,3922,3922,3922,3922,3922,3922,3922,3922
Volkswagen,9424,9424,9424,9424,9424,9424,9424,9424,9424,9424,9424
Volvo,3989,3989,3989,3989,3989,3989,3989,3989,3989,3989,3989
smart,183,183,183,183,183,183,183,183,183,183,183

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le = LabelEncoder()

In [10]:
data['product_tier_n'] = le.fit_transform(data['product_tier'])
data['make_name_n'] = le.fit_transform(data['make_name'])

In [11]:
data.columns

Index(['product_tier', 'make_name', 'price', 'first_zip_digit',
       'first_registration_year', 'created_date', 'deleted_date',
       'search_views', 'detail_views', 'ctr', 'stock_days2', 'age',
       'product_tier_n', 'make_name_n'],
      dtype='object')

In [13]:
X = data.drop(['product_tier', 'make_name',
       'first_registration_year', 'created_date', 'deleted_date',
        'detail_views', 'ctr'] ,axis='columns')
yd = data.detail_views

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, yd_train, yd_test = train_test_split(X, yd, test_size=0.2, random_state=0)

In [15]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor.fit(X_train, yd_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [16]:
yd_pred = regressor.predict(X_test)

In [19]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(yd_test, yd_pred))
print('Mean Squared Error:', metrics.mean_squared_error(yd_test, yd_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(yd_test, yd_pred)))

Mean Absolute Error: 54.34706753363806
Mean Squared Error: 26030.254458250176
Root Mean Squared Error: 161.33894278273357

In [20]:
regressor.score(X_test, yd_test)

0.5305335315437515

In [21]:
df=pd.DataFrame({'Actual':yd_test, 'Predicted':yd_pred})
df

       Actual  Predicted
75570    46.0       55.0
64545     1.0       10.0
61364    16.0       26.0
40946    87.0       49.0
47734    93.0      109.0
76050    25.0       37.0
38905   162.0      111.0
39083    62.0       44.0
59748     4.0        5.0
67182     9.0       11.0
3109     14.0       33.0
1991     17.0       14.0
55412    54.0       44.0
46836    15.0       93.0
3858     15.0       41.0
48252     5.0       23.0
36420    84.0       67.0
19467    58.0        4.0
10178    45.0       13.0
14501   457.0      273.0
67442    22.0       18.0
73488     4.0        3.0
32930     5.0        8.0
20329     5.0        2.0
66280    40.0       34.0
50222    75.0       60.0
2816     17.0       21.0
50206   193.0      107.0
75769    45.0       62.0
57012    97.0       28.0
...       ...        ...
49428   233.0      297.0
12207    85.0       74.0
58274    28.0       24.0
28199    17.0       30.0
12499    36.0       23.0
45462    29.0       18.0
64640     1.0        1.0
48877    15.0       14.0
70061    93.0       24.0
21847   119.0      178.0
53736     2.0        1.0
32824   380.0      651.0
24       36.0      137.0
71307    90.0      120.0
30045    69.0       87.0
52038    16.0      125.0
37957    15.0       15.0
45336    54.0       66.0
38476    78.0       24.0
38010    94.0      199.0
48153   250.0       91.0
787      50.0       53.0
21323   551.0      535.0
9944     38.0       31.0
16793     2.0       17.0
34498    55.0       66.0
4068     19.0       51.0
37164     5.0       12.0
64045    43.0       13.0
48169    70.0      230.0

[15533 rows x 2 columns]