In [7]:
import pandas as pd
import seaborn as sns
import numpy as np

In [8]:
data = pd.read_csv('AAAutoSprzedam_data.csv', sep=';')

In [ ]:
data.sort_values(by='make_name').groupby('make_name').size()

In [9]:
data_mn = data.make_name

In [12]:
data_mn = data.sort_values(by='make_name').groupby('make_name').size()

In [ ]:
data_mn.describe()

In [ ]:
data_mn.shape

In [ ]:
for n in data_mn:
  if n <= 100:
    continue
  print(n)

In [13]:
data_lh = data_mn.where(data_mn>=150)

In [ ]:
data_mh = data_mn.where(data_mn<100)

In [ ]:
data_mh

In [ ]:
data_mh.dropna()

In [14]:
data_lh

make_name
AC                   NaN
Abarth               NaN
Aixam                NaN
Alfa Romeo         532.0
Alpina               NaN
Alpine               NaN
Amphicar             NaN
Aston Martin         NaN
Audi              3313.0
Austin               NaN
BMW               4554.0
Bentley              NaN
Buick                NaN
Cadillac             NaN
Caravans-Wohnm       NaN
Casalini             NaN
Chatenet             NaN
Chevrolet          485.0
Chrysler             NaN
Citroen           3017.0
Corvette             NaN
DFSK                 NaN
DS Automobiles       NaN
Dacia              440.0
Daewoo               NaN
Daihatsu           197.0
Daimler              NaN
De Tomaso            NaN
Dodge                NaN
Donkervoort          NaN
                   ...
Microcar             NaN
Mitsubishi        1067.0
Morgan               NaN
Nissan            2016.0
Oldsmobile           NaN
Oldtimer             NaN
Opel              5218.0
Others               NaN
Peugeot           5446.0
Piaggio              NaN
Pontiac              NaN
Porsche            524.0
Renault           6956.0
Rolls-Royce          NaN
Rover                NaN
SEAT              1773.0
Saab               186.0
Skoda             1516.0
SsangYong            NaN
Subaru             163.0
Suzuki            1312.0
TVR                  NaN
Tata                 NaN
Tesla                NaN
Toyota            3924.0
Triumph              NaN
Trucks-Lkw           NaN
Volkswagen        9430.0
Volvo             3994.0
smart              183.0
Length: 91, dtype: float64

In [21]:
data_lh = data_lh.dropna()

In [22]:
data_lh.index.values

array(['Alfa Romeo', 'Audi', 'BMW', 'Chevrolet', 'Citroen', 'Dacia',
       'Daihatsu', 'Fiat', 'Ford', 'Honda', 'Hyundai', 'Iveco', 'Jaguar',
       'Jeep', 'Kia', 'Land Rover', 'Lexus', 'MINI', 'Mazda',
       'Mercedes-Benz', 'Mitsubishi', 'Nissan', 'Opel', 'Peugeot',
       'Porsche', 'Renault', 'SEAT', 'Saab', 'Skoda', 'Subaru', 'Suzuki',
       'Toyota', 'Volkswagen', 'Volvo', 'smart'], dtype=object)

In [ ]:
data_to_drop = data_mn.where(data_mn<84)

In [ ]:
data_to_drop.dropna()

In [ ]:
data_to_drop.AC

In [ ]:
index_list = data_to_drop.index.values

In [ ]:
data_to_leave = data_mn.where(data_mn>=150)

In [ ]:
data_to_leave = data_to_leave.dropna()

In [ ]:
data_to_leave

In [ ]:
index_list1 = data_to_leave.index.values

In [ ]:
index_list1

In [ ]:
#for i in index_list1:
   #print(data[data['make_name'].isin([f'{i}'])])

In [ ]:


cut_data = data[data['make_name'].isin(['Alfa Romeo', 'Audi', 'BMW', 'Caravans-Wohnm', 'Chevrolet',
       'Chrysler', 'Citroen', 'Dacia', 'Daewoo', 'Daihatsu', 'Dodge',
       'Fiat', 'Ford', 'Honda', 'Hyundai', 'Iveco', 'Jaguar', 'Jeep',
       'Kia', 'Lancia', 'Land Rover', 'Lexus', 'MINI', 'Mazda',
       'Mercedes-Benz', 'Mitsubishi', 'Nissan', 'Oldtimer', 'Opel',
       'Peugeot', 'Porsche', 'Renault', 'SEAT', 'Saab', 'Skoda', 'Subaru',
       'Suzuki', 'Tesla', 'Toyota', 'Volkswagen', 'Volvo', 'smart'])]

In [ ]:
cut_data.groupby('make_name').count()

In [ ]:
cut_data.to_csv(r'cut_data.csv')

In [ ]:
cut_data.head(10)