Firma AAAAutoSprzedam jest platformą umożliwiającą publikowanie ogłoszeń sprzedaży 
samochodów. Oprócz bardzo taniego ogłoszenia typu Basic oferuje swoim klientom – 
ogłoszeniodawcom – również płatne promowane ogłoszenia typu Premium i Plus. Na liście 
ogłoszeń w pierwszej kolejności pojawiają się ofery Premium, następnie Plus a na końcu pozostałe 
ogłoszenia.  Klienci są informowani, że wykupienie płatego ogłoszenia zwiększy jego skuteczność.
W celu zwiększenia efektywności sprzedaży promowanych, dział komunikacji z klientem 
potrzebuje wiedzy o tym, jak poszczególne produkty wpływają na sukces ogłoszeniodawcy. 
Pomoże to doprecyzować przekaz o skuteczność płatnego ogłoszenia Premium lub Plus.
Zespół analityczny proszony jest o przygotowanie 15 minutowej prezentacji, odpowiadającej na 
pytania:<br>
• Jaki jest wpływ droższych produktów na skuteczność ogłoszenia?<br>
• Czy w danych są wzorce, które uznalibyście za ciekawe lub niespodziewane?<br>
• Jaki jest wpływ dostępnych zmiennych na skuteczność ogłoszenia?<br>
• Jakie dodatkowe dane mogłyby być wykorzystane w analizie?<br>

views per day

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np

In [3]:
data = pd.read_csv('AAAutoSprzedam_data.csv', sep=';')

In [4]:
data.isnull().sum()

article_id                  0
product_tier                0
make_name                   0
price                       0
first_zip_digit             0
first_registration_year     0
created_date                0
deleted_date                0
search_views               10
detail_views               10
stock_days                  0
ctr                        24
dtype: int64

In [5]:
data.created_date = pd.to_datetime(data.created_date)
data.deleted_date = pd.to_datetime(data.deleted_date)

In [6]:
stock_days2 = data.deleted_date - data.created_date

In [7]:
data['stock_days2'] = stock_days2

In [8]:
data.stock_days2 = data.stock_days2/np.timedelta64(1, 'D')
data.stock_days2 = data.stock_days2 + 1

In [9]:
data.stock_days2.min()

1.0

In [10]:
data[data.stock_days2 == 0]

Empty DataFrame
Columns: [article_id, product_tier, make_name, price, first_zip_digit, first_registration_year, created_date, deleted_date, search_views, detail_views, stock_days, ctr, stock_days2]
Index: []

In [11]:
data.drop('stock_days',axis=1,inplace=True)

In [12]:
data['ctr2'] = data.detail_views/data.search_views

In [13]:
data.drop('ctr',axis=1, inplace=True)

In [14]:
data.article_id.value_counts().head(20)

359772384    2
360768628    2
360768627    2
364638423    2
350214315    2
360768625    2
360768632    2
360768624    2
354755824    2
350214314    2
354755822    2
360472733    2
357528924    2
360793587    2
358519054    2
354755829    2
359754168    1
349571668    1
360448597    1
350173618    1
Name: article_id, dtype: int64

In [15]:
data = data.sort_values(by='article_id')

In [16]:
data = data.drop_duplicates(subset='article_id', keep=False)

In [17]:
data.sort_values('article_id',ascending=True)

,article_id,product_tier,make_name,price,first_zip_digit,first_registration_year,created_date,deleted_date,search_views,detail_views,stock_days2,ctr2
38868,347232386,Basic,Nissan,6850,7,2005,2018-07-04,2018-07-13,297.0,22.0,10.0,0.074074
29915,347232409,Basic,Peugeot,850,5,2004,2018-07-04,2018-08-14,3920.0,276.0,42.0,0.070408
45555,347232416,Basic,Mercedes-Benz,16950,7,2013,2018-07-04,2018-09-15,1564.0,118.0,74.0,0.075448
77759,347232417,Basic,Skoda,2995,6,2010,2018-07-04,2018-07-16,2372.0,183.0,13.0,0.077150
72821,347232422,Basic,Toyota,4300,4,2008,2018-07-04,2018-10-01,3215.0,208.0,90.0,0.064697
3076,347232425,Basic,Opel,1850,4,2003,2018-07-04,2018-07-10,231.0,50.0,7.0,0.216450
48396,347246626,Basic,Toyota,6450,1,2009,2018-07-04,2018-07-19,236.0,30.0,16.0,0.127119
51363,347246657,Basic,Toyota,9450,3,2016,2018-07-04,2018-07-13,74.0,1.0,10.0,0.013514
71680,347246658,Basic,Toyota,9250,3,2016,2018-07-04,2018-07-25,204.0,1.0,22.0,0.004902
13874,347246660,Basic,BMW,24890,4,2014,2018-07-04,2018-10-01,7456.0,457.0,90.0,0.061293
6915,347246667,Basic,Volkswagen,25250,6,2015,2018-07-04,2018-08-29,635.0,15.0,57.0,0.023622
45915,347246673,Basic,Mazda,24745,7,2014,2018-07-04,2018-07-17,235.0,5.0,14.0,0.021277
40192,347246679,Basic,Volkswagen,15900,5,2010,2018-07-04,2018-08-04,474.0,9.0,32.0,0.018987
77984,347246680,Basic,Audi,42900,5,2015,2018-07-04,2018-11-07,2084.0,23.0,127.0,0.011036
16815,347246693,Basic,Volkswagen,13900,6,2015,2018-07-04,2018-07-05,22.0,17.0,2.0,0.772727
13449,347246694,Basic,BMW,18900,6,2013,2018-07-04,2018-07-13,470.0,86.0,10.0,0.182979
56489,347246695,Basic,BMW,17900,6,2010,2018-07-04,2018-08-01,1578.0,134.0,29.0,0.084918
25906,347246701,Basic,Peugeot,6450,2,2012,2018-07-04,2018-07-28,148.0,10.0,25.0,0.067568
6646,347246702,Basic,Citroen,10495,2,2010,2018-07-04,2018-08-21,463.0,17.0,49.0,0.036717
57451,347246712,Basic,Toyota,5549,4,2009,2018-07-04,2018-08-01,85.0,4.0,29.0,0.047059
34465,347246715,Basic,Peugeot,11950,6,2018,2018-07-04,2018-07-10,26.0,2.0,7.0,0.076923
39510,347246716,Basic,Peugeot,11950,6,2018,2018-07-04,2018-09-14,200.0,7.0,73.0,0.035000
57453,347246717,Basic,Peugeot,11950,6,2018,2018-07-04,2018-09-08,192.0,6.0,67.0,0.031250
27731,347246718,Basic,Peugeot,12650,6,2018,2018-07-04,2018-08-01,105.0,3.0,29.0,0.028571
15940,347246719,Basic,Peugeot,29950,6,2018,2018-07-04,2018-10-01,277.0,9.0,90.0,0.032491
34466,347246720,Basic,Peugeot,17450,6,2018,2018-07-04,2018-07-13,288.0,17.0,10.0,0.059028
5646,347246724,Basic,Volkswagen,18950,6,2012,2018-07-04,2018-08-31,1143.0,25.0,59.0,0.021872
44025,347246726,Basic,Peugeot,1900,7,2005,2018-07-04,2018-07-20,232.0,5.0,17.0,0.021552
24395,347246727,Basic,Ford,4450,7,2007,2018-07-04,2018-07-14,692.0,2.0,11.0,0.002890
69661,347246728,Basic,Ford,1500,7,2005,2018-07-04,2018-09-22,4406.0,10.0,81.0,0.002270
...,...,...,...,...,...,...,...,...,...,...,...,...
29548,364700710,Basic,MINI,10400,3,2008,2018-11-28,2019-01-30,2300.0,94.0,64.0,0.040870
45433,364700980,Basic,Fiat,3495,3,2005,2018-11-28,2018-12-01,334.0,26.0,4.0,0.077844
31958,364701152,Basic,Nissan,3290,8,2009,2018-11-28,2018-11-29,142.0,11.0,2.0,0.077465
37023,364701516,Plus,Ford,740,5,2001,2018-11-28,2018-11-29,682.0,46.0,2.0,0.067449
56551,364701517,Plus,Chevrolet,1440,5,2006,2018-11-28,2019-01-31,31332.0,754.0,65.0,0.024065
47927,364701522,Basic,Mercedes-Benz,43500,1,2016,2018-11-28,2019-03-27,4814.0,289.0,120.0,0.060033
16750,364701887,Basic,Renault,440,3,2000,2018-11-28,2019-02-01,6626.0,117.0,66.0,0.017658
72160,364701888,Basic,Peugeot,690,3,2002,2018-11-28,2018-12-04,1037.0,77.0,7.0,0.074253
14865,364701889,Basic,Hyundai,1190,3,2003,2018-11-28,2018-12-14,1449.0,50.0,17.0,0.034507
65908,364701890,Basic,Volkswagen,1840,3,2007,2018-11-28,2018-12-01,1541.0,61.0,4.0,0.039585
53980,364701891,Basic,Opel,1740,3,2005,2018-11-28,2019-02-02,6588.0,242.0,67.0,0.036733
74757,364701892,Basic,Jeep,1740,3,1994,2018-11-28,2019-02-01,46908.0,1426.0,66.0,0.030400
1306,364701893,Basic,Opel,400,3,1998,2018-11-28,2019-02-19,17800.0,361.0,84.0,0.020281
14881,364701894,Basic,Opel,520,3,1998,2018-11-28,2018-12-14,2800.0,145.0,17.0,0.051786
69387,364701895,Basic,Mercedes-Benz,540,3,1999,2018-11-28,2018-12-06,3350.0,107.0,9.0,0.031940
50331,364701934,Basic,MINI,43450,7,2018,2018-11-28,2018-12-19,829.0,35.0,22.0,0.042220
11596,364702097,Basic,Suzuki,6250,7,2010,2018-11-28,2019-03-12,3936.0,203.0,105.0,0.051575
67579,364702177,Basic,BMW,19950,4,2011,2018-11-28,2019-01-19,4039.0,212.0,53.0,0.052488
9183,364702179,Basic,Audi,31950,4,2014,2018-11-28,2018-12-29,1526.0,79.0,32.0,0.051769
65756,364702241,Basic,Toyota,4949,1,2009,2018-11-28,2019-01-03,2343.0,158.0,37.0,0.067435
5918,364702348,Basic,Volkswagen,7250,4,2010,2018-11-28,2019-01-09,3116.0,160.0,43.0,0.051348
45116,364702385,Basic,Mercedes-Benz,7995,4,2006,2018-11-28,2019-01-11,3282.0,268.0,45.0,0.081658
19594,364702386,Basic,Volkswagen,7750,4,2007,2018-11-28,2018-12-10,1104.0,62.0,13.0,0.056159
22881,364702416,Basic,Volvo,5950,7,2005,2018-11-28,2019-03-25,9448.0,509.0,118.0,0.053874
9053,364703094,Basic,Audi,3500,7,2001,2018-11-28,2018-12-19,4182.0,271.0,22.0,0.064802
54299,364703452,Basic,Volkswagen,2790,3,2007,2018-11-28,2019-01-18,7961.0,252.0,52.0,0.031654
61039,364703637,Basic,Ford,20950,6,2018,2018-11-28,2018-12-29,455.0,30.0,32.0,0.065934
21128,364703638,Basic,Ford,20940,6,2018,2018-11-28,2019-01-04,628.0,23.0,38.0,0.036624
17715,364703639,Basic,Nissan,23920,6,2018,2018-11-28,2019-02-12,800.0,39.0,77.0,0.048750
48860,364703971,Basic,Citroen,8950,2,2012,2018-11-28,2019-01-11,687.0,20.0,45.0,0.029112

In [18]:
data['dv_perD'] = data.detail_views/data.stock_days2

In [19]:
data['sv_perD'] = data.search_views/data.stock_days2

In [20]:
data.sort_values(['sv_perD','dv_perD'],ascending=False)

,article_id,product_tier,make_name,price,first_zip_digit,first_registration_year,created_date,deleted_date,search_views,detail_views,stock_days2,ctr2,dv_perD,sv_perD
64208,360493469,Basic,Volvo,100,1,2018,2018-10-12,2018-10-20,96582.0,1559.0,9.0,0.016142,173.222222,10731.333333
5179,363933708,Premium,Audi,4500,2,2015,2018-11-20,2018-12-10,171829.0,6155.0,21.0,0.035820,293.095238,8182.333333
44791,363933706,Premium,Audi,4500,2,2015,2018-11-20,2018-12-10,171168.0,4682.0,21.0,0.027353,222.952381,8150.857143
38966,363933707,Premium,Audi,4500,2,2014,2018-11-20,2018-12-10,158698.0,13926.0,21.0,0.087752,663.142857,7557.047619
74838,359753805,Basic,Renault,199,7,2015,2018-10-04,2019-01-21,608754.0,12286.0,110.0,0.020182,111.690909,5534.127273
49762,357876594,Basic,Citroen,99,7,2017,2018-09-12,2018-09-19,37238.0,372.0,8.0,0.009990,46.500000,4654.750000
72007,348760265,Premium,Peugeot,649,3,2002,2018-07-12,2018-09-09,262007.0,3473.0,60.0,0.013255,57.883333,4366.783333
13945,358532508,Premium,Ford,575,3,2004,2018-09-20,2018-10-03,57236.0,501.0,14.0,0.008753,35.785714,4088.285714
10721,347277802,Premium,Fiat,499,5,2003,2018-07-04,2018-07-11,32565.0,357.0,8.0,0.010963,44.625000,4070.625000
51285,354421135,Premium,Audi,1245,6,1997,2018-08-16,2018-09-01,68252.0,1483.0,17.0,0.021728,87.235294,4014.823529
34715,353090153,Premium,Peugeot,750,4,2004,2018-08-04,2018-08-24,78852.0,368.0,21.0,0.004667,17.523810,3754.857143
59428,360100662,Plus,Opel,300,5,1990,2018-10-08,2018-11-03,100981.0,1858.0,27.0,0.018400,68.814815,3740.037037
50207,364343733,Premium,Chevrolet,750,2,2007,2018-11-24,2018-11-28,18688.0,469.0,5.0,0.025096,93.800000,3737.600000
21921,361203245,Premium,Opel,595,1,2002,2018-10-20,2018-10-24,18393.0,309.0,5.0,0.016800,61.800000,3678.600000
50974,353088810,Premium,Ford,1250,2,2005,2018-08-04,2018-08-21,64632.0,799.0,18.0,0.012362,44.388889,3590.666667
24963,353090155,Premium,Toyota,500,4,1998,2018-08-04,2018-08-09,21261.0,132.0,6.0,0.006209,22.000000,3543.500000
71425,363200895,Premium,Dodge,500,5,1999,2018-11-12,2018-11-19,27883.0,524.0,8.0,0.018793,65.500000,3485.375000
72668,354423023,Premium,Volkswagen,490,5,1996,2018-08-16,2018-08-28,45274.0,902.0,13.0,0.019923,69.384615,3482.615385
28383,359210168,Premium,Volvo,650,2,1996,2018-09-28,2018-11-04,131758.0,1524.0,38.0,0.011567,40.105263,3467.315789
52777,349571884,Premium,Volvo,750,2,2001,2018-07-16,2018-10-21,335376.0,5490.0,98.0,0.016370,56.020408,3422.204082
17592,363560248,Premium,Opel,1340,7,2000,2018-11-16,2018-12-13,95743.0,1589.0,28.0,0.016597,56.750000,3419.392857
41296,350639072,Premium,Volkswagen,1250,5,2004,2018-07-24,2018-08-07,49991.0,423.0,15.0,0.008462,28.200000,3332.733333
77414,360081936,Premium,Audi,1250,8,2000,2018-10-08,2018-10-23,53155.0,786.0,16.0,0.014787,49.125000,3322.187500
67866,351181321,Premium,Nissan,400,7,2003,2018-07-28,2018-08-03,22324.0,447.0,7.0,0.020023,63.857143,3189.142857
37141,353514711,Premium,Volkswagen,625,3,1998,2018-08-08,2018-08-11,12495.0,238.0,4.0,0.019048,59.500000,3123.750000
65378,357546949,Basic,BMW,252,8,2014,2018-09-08,2018-09-17,31115.0,1270.0,10.0,0.040816,127.000000,3111.500000
64401,359208288,Premium,Volkswagen,1150,2,2002,2018-09-28,2018-10-14,51951.0,931.0,17.0,0.017921,54.764706,3055.941176
19104,363589544,Premium,Renault,700,2,2002,2018-11-16,2019-01-25,216946.0,3944.0,71.0,0.018180,55.549296,3055.577465
49344,361162234,Premium,Peugeot,650,4,2004,2018-10-20,2018-10-24,15203.0,241.0,5.0,0.015852,48.200000,3040.600000
12162,355677961,Premium,Renault,1250,7,2001,2018-08-28,2018-09-21,75760.0,778.0,25.0,0.010269,31.120000,3030.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74388,360471784,Basic,Caravans-Wohnm,47000,8,2015,2018-10-12,2018-11-24,43.0,5.0,44.0,0.116279,0.113636,0.977273
43595,360767542,Basic,Volvo,14945,2,2009,2018-10-16,2018-11-22,35.0,1.0,38.0,0.028571,0.026316,0.921053
64421,359258122,Basic,Renault,16995,5,2016,2018-09-28,2019-01-11,97.0,7.0,106.0,0.072165,0.066038,0.915094
15228,357157113,Basic,Fiat,9249,3,2013,2018-09-04,2018-11-19,53.0,4.0,77.0,0.075472,0.051948,0.688312
26675,358877550,Basic,Porsche,24650,3,1974,2018-09-24,2018-09-25,1.0,0.0,2.0,0.000000,0.000000,0.500000
11869,354421035,Basic,Peugeot,999,3,2005,2018-08-16,2018-08-18,1.0,0.0,3.0,0.000000,0.000000,0.333333
6738,355684985,Basic,Volvo,5950,8,2009,2018-08-28,2018-08-28,0.0,0.0,1.0,NaN,0.000000,0.000000
72620,359233783,Basic,Audi,1039,4,2016,2018-09-28,2018-09-28,0.0,0.0,1.0,NaN,0.000000,0.000000
69176,360460879,Basic,Mercedes-Benz,30445,7,2014,2018-10-12,2018-10-12,0.0,0.0,1.0,NaN,0.000000,0.000000
78057,360460880,Basic,Mercedes-Benz,994,7,2014,2018-10-12,2018-10-12,0.0,0.0,1.0,NaN,0.000000,0.000000
68584,360460887,Basic,Opel,16445,7,2009,2018-10-12,2018-10-12,0.0,0.0,1.0,NaN,0.000000,0.000000
28823,360460890,Basic,Mercedes-Benz,26445,7,2011,2018-10-12,2018-10-12,0.0,0.0,1.0,NaN,0.000000,0.000000
52291,360460896,Basic,Mercedes-Benz,1194,7,2018,2018-10-12,2018-10-12,0.0,0.0,1.0,NaN,0.000000,0.000000
26122,360460897,Basic,Mercedes-Benz,22445,7,2011,2018-10-12,2018-10-12,0.0,0.0,1.0,NaN,0.000000,0.000000
19983,360460901,Basic,Mercedes-Benz,105,7,2004,2018-10-12,2018-10-12,0.0,0.0,1.0,NaN,0.000000,0.000000
38923,360471136,Basic,Audi,1500,2,2012,2018-10-12,2018-10-12,0.0,0.0,1.0,NaN,0.000000,0.000000
43222,360493605,Basic,Mercedes-Benz,37500,3,2002,2018-10-12,2018-10-12,0.0,0.0,1.0,NaN,0.000000,0.000000
71083,363908548,Basic,Renault,14500,7,2015,2018-11-20,2018-11-20,0.0,0.0,1.0,NaN,0.000000,0.000000
71854,363925615,Basic,Fiat,3795,5,2011,2018-11-20,2018-11-21,0.0,0.0,2.0,NaN,0.000000,0.000000
70772,364670935,Basic,Mercedes-Benz,2150,3,2002,2018-11-28,2018-11-29,0.0,0.0,2.0,NaN,0.000000,0.000000
66498,349581063,Basic,Subaru,1,5,2006,2018-07-16,2018-09-11,NaN,NaN,58.0,NaN,NaN,NaN
60758,350270138,Basic,Ford,5450,2,2009,2018-07-20,2018-07-26,NaN,NaN,7.0,NaN,NaN,NaN
57353,350278423,Basic,BMW,10950,9,2006,2018-07-20,2018-07-20,NaN,NaN,1.0,NaN,NaN,NaN
72408,358837338,Basic,Volkswagen,2999,5,2003,2018-09-24,2018-09-24,NaN,NaN,1.0,NaN,NaN,NaN
47870,358837344,Basic,Volkswagen,2999,5,2003,2018-09-24,2018-09-24,NaN,NaN,1.0,NaN,NaN,NaN
27830,358837359,Basic,Volkswagen,2999,5,2003,2018-09-24,2018-09-24,NaN,NaN,1.0,NaN,NaN,NaN
63577,358837366,Basic,Volkswagen,2999,5,2003,2018-09-24,2018-09-24,NaN,NaN,1.0,NaN,NaN,NaN
21423,358837372,Basic,Volkswagen,2999,5,2003,2018-09-24,2018-09-24,NaN,NaN,1.0,NaN,NaN,NaN
65127,358837392,Basic,Volkswagen,2999,5,2003,2018-09-24,2018-09-24,NaN,NaN,1.0,NaN,NaN,NaN
10151,363161664,Basic,Renault,4950,3,2011,2018-11-12,2019-03-01,NaN,NaN,110.0,NaN,NaN,NaN

In [21]:
data.first_registration_year.replace(2106,2006,True)

In [22]:
data.first_registration_year.replace(2020,2002,True)

In [23]:
data['old'] = 2019 - data.first_registration_year

In [24]:
data.sort_values('first_registration_year',0,False)

,article_id,product_tier,make_name,price,first_zip_digit,first_registration_year,created_date,deleted_date,search_views,detail_views,stock_days2,ctr2,dv_perD,sv_perD,old
7047,363572119,Basic,Land Rover,178888,5,2019,2018-11-16,2018-11-20,970.0,38.0,5.0,0.039175,7.600000,194.000000,0
78161,355477561,Basic,Skoda,34950,7,2019,2018-08-24,2018-09-01,84.0,0.0,9.0,0.000000,0.000000,9.333333,0
41755,355477564,Basic,Skoda,21995,7,2019,2018-08-24,2018-09-01,85.0,0.0,9.0,0.000000,0.000000,9.444444,0
46681,355477563,Basic,Skoda,20695,7,2019,2018-08-24,2018-09-01,88.0,4.0,9.0,0.045455,0.444444,9.777778,0
22265,360811305,Basic,Volkswagen,35745,1,2019,2018-10-16,2019-01-17,708.0,19.0,94.0,0.026836,0.202128,7.531915,0
33306,359233680,Basic,Nissan,26945,3,2019,2018-09-28,2019-01-14,735.0,25.0,109.0,0.034014,0.229358,6.743119,0
57720,355477562,Basic,Skoda,21650,7,2019,2018-08-24,2018-09-01,77.0,1.0,9.0,0.012987,0.111111,8.555556,0
35693,363592564,Basic,Volvo,55130,2,2019,2018-11-16,2019-02-28,1942.0,27.0,105.0,0.013903,0.257143,18.495238,0
36997,360811304,Basic,Volkswagen,37250,1,2019,2018-10-16,2019-01-17,825.0,23.0,94.0,0.027879,0.244681,8.776596,0
41917,363615551,Basic,Volkswagen,28345,4,2019,2018-11-16,2019-02-04,2507.0,84.0,81.0,0.033506,1.037037,30.950617,0
35599,363943781,Basic,Audi,32600,8,2019,2018-11-20,2019-01-08,708.0,29.0,50.0,0.040960,0.580000,14.160000,0
12944,363609848,Basic,Ford,74950,7,2019,2018-11-16,2019-02-10,8762.0,321.0,87.0,0.036635,3.689655,100.712644,0
61415,364639221,Basic,BMW,126811,2,2019,2018-11-28,2019-01-17,8911.0,202.0,51.0,0.022669,3.960784,174.725490,0
60330,364348428,Basic,Ford,29500,9,2019,2018-11-24,2019-02-08,764.0,44.0,77.0,0.057592,0.571429,9.922078,0
20483,363589133,Basic,Ford,39995,7,2019,2018-11-16,2019-02-28,1076.0,44.0,105.0,0.040892,0.419048,10.247619,0
60234,363579941,Basic,Volkswagen,42100,8,2019,2018-11-16,2019-01-22,1988.0,39.0,68.0,0.019618,0.573529,29.235294,0
74570,363579940,Basic,Volkswagen,42100,8,2019,2018-11-16,2019-01-22,1953.0,64.0,68.0,0.032770,0.941176,28.720588,0
48320,364688086,Basic,Peugeot,41750,6,2019,2018-11-28,2019-02-08,829.0,16.0,73.0,0.019300,0.219178,11.356164,0
50822,364670400,Basic,Ford,22929,7,2019,2018-11-28,2019-02-14,553.0,26.0,79.0,0.047016,0.329114,7.000000,0
27906,354745697,Basic,Dodge,53950,2,2019,2018-08-20,2018-09-08,389.0,7.0,20.0,0.017995,0.350000,19.450000,0
74147,355477565,Basic,Skoda,22395,7,2019,2018-08-24,2018-09-01,111.0,0.0,9.0,0.000000,0.000000,12.333333,0
35359,355477566,Basic,Skoda,38995,7,2019,2018-08-24,2018-09-01,90.0,0.0,9.0,0.000000,0.000000,10.000000,0
64729,355477567,Basic,Skoda,38995,7,2019,2018-08-24,2018-09-01,94.0,1.0,9.0,0.010638,0.111111,10.444444,0
41264,362837744,Basic,Volvo,74900,7,2019,2018-11-08,2019-01-17,2422.0,116.0,71.0,0.047894,1.633803,34.112676,0
40541,360792127,Basic,Nissan,28495,3,2019,2018-10-16,2019-01-07,250.0,7.0,84.0,0.028000,0.083333,2.976190,0
70646,364688471,Basic,Ford,29815,5,2019,2018-11-28,2019-01-16,1136.0,55.0,50.0,0.048415,1.100000,22.720000,0
32797,360812301,Basic,Aixam,14450,9,2019,2018-10-16,2019-02-01,3384.0,75.0,109.0,0.022163,0.688073,31.045872,0
57395,363883358,Basic,Toyota,39950,9,2019,2018-11-20,2019-02-02,3972.0,209.0,75.0,0.052618,2.786667,52.960000,0
16022,364318886,Basic,Mercedes-Benz,33950,5,2019,2018-11-24,2019-02-25,2146.0,99.0,94.0,0.046132,1.053191,22.829787,0
74922,361507076,Basic,Suzuki,19950,6,2019,2018-10-24,2019-01-23,1176.0,45.0,92.0,0.038265,0.489130,12.782609,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62071,359757257,Basic,MG,26000,1,1952,2018-10-04,2018-11-07,1249.0,17.0,35.0,0.013611,0.485714,35.685714,67
9211,357873158,Basic,MG,32950,5,1952,2018-09-12,2018-10-31,1265.0,28.0,50.0,0.022134,0.560000,25.300000,67
65849,361202378,Basic,Land Rover,7500,9,1952,2018-10-20,2019-01-22,12799.0,411.0,95.0,0.032112,4.326316,134.726316,67
16525,348770734,Basic,MG,25950,5,1952,2018-07-12,2018-08-16,1344.0,26.0,36.0,0.019345,0.722222,37.333333,67
1930,359757264,Basic,MG,28000,1,1952,2018-10-04,2018-11-07,1046.0,27.0,35.0,0.025813,0.771429,29.885714,67
67035,361513504,Basic,Volkswagen,39950,5,1952,2018-10-24,2018-12-04,2824.0,166.0,42.0,0.058782,3.952381,67.238095,67
77960,364654860,Basic,Jaguar,139950,5,1951,2018-11-28,2018-12-12,1154.0,37.0,15.0,0.032062,2.466667,76.933333,68
53595,362456333,Basic,Oldtimer,15490,2,1950,2018-11-04,2018-11-22,841.0,12.0,19.0,0.014269,0.631579,44.263158,69
23909,359727308,Basic,Chevrolet,16950,5,1949,2018-10-04,2018-10-07,369.0,19.0,4.0,0.051491,4.750000,92.250000,70
43981,357545888,Basic,Oldtimer,16950,5,1949,2018-09-08,2018-10-04,1691.0,62.0,27.0,0.036665,2.296296,62.629630,70
44027,348766026,Basic,Chevrolet,34950,5,1949,2018-07-12,2018-08-16,1514.0,47.0,36.0,0.031044,1.305556,42.055556,70
52851,360793519,Basic,Oldtimer,19750,6,1949,2018-10-16,2018-11-22,1409.0,119.0,38.0,0.084457,3.131579,37.078947,70
48405,354736175,Basic,Oldtimer,6750,9,1949,2018-08-20,2018-11-18,9360.0,267.0,91.0,0.028526,2.934066,102.857143,70
18924,359768817,Basic,Oldtimer,14000,1,1947,2018-10-04,2018-11-07,1652.0,99.0,35.0,0.059927,2.828571,47.200000,72
43522,347974267,Basic,Oldtimer,14900,9,1946,2018-07-08,2018-08-21,1908.0,32.0,45.0,0.016771,0.711111,42.400000,73
6113,358552047,Basic,Oldtimer,27750,6,1943,2018-09-20,2018-12-17,2667.0,88.0,89.0,0.032996,0.988764,29.966292,76
54761,363558773,Basic,Volkswagen,149950,5,1942,2018-11-16,2018-12-20,3563.0,216.0,35.0,0.060623,6.171429,101.800000,77
31255,364634321,Basic,Buick,32500,6,1941,2018-11-28,2019-01-10,3143.0,84.0,44.0,0.026726,1.909091,71.431818,78
71177,364604074,Basic,Oldtimer,98000,1,1939,2018-11-28,2018-12-23,1663.0,59.0,26.0,0.035478,2.269231,63.961538,80
55170,363592674,Basic,Others,39950,5,1936,2018-11-16,2018-12-20,1317.0,59.0,35.0,0.044799,1.685714,37.628571,83
22925,359768839,Basic,Chrysler,25000,1,1936,2018-10-04,2018-11-07,2097.0,68.0,35.0,0.032427,1.942857,59.914286,83
15136,359769762,Basic,Others,39950,5,1936,2018-10-04,2018-11-15,1668.0,69.0,43.0,0.041367,1.604651,38.790698,83
38257,364604080,Basic,Oldtimer,13000,1,1935,2018-11-28,2018-12-23,2150.0,83.0,26.0,0.038605,3.192308,82.692308,84
44685,354435256,Basic,Oldtimer,39950,8,1935,2018-08-16,2018-08-17,103.0,5.0,2.0,0.048544,2.500000,51.500000,84
63236,350219482,Basic,Others,235000,7,1933,2018-07-20,2018-08-30,2079.0,42.0,42.0,0.020202,1.000000,49.500000,86
28752,364604079,Basic,Oldtimer,32000,1,1932,2018-11-28,2018-12-14,895.0,46.0,17.0,0.051397,2.705882,52.647059,87
28022,363184465,Basic,Oldtimer,17510,7,1931,2018-11-12,2018-11-28,1204.0,152.0,17.0,0.126246,8.941176,70.823529,88
57980,354420689,Basic,Others,39950,5,1928,2018-08-16,2018-09-28,1831.0,34.0,44.0,0.018569,0.772727,41.613636,91
68360,355653931,Basic,Oldtimer,29500,5,1925,2018-08-28,2018-11-23,7857.0,229.0,88.0,0.029146,2.602273,89.284091,94
46495,359757370,Basic,Oldtimer,23950,1,1924,2018-10-04,2018-11-26,4841.0,81.0,54.0,0.016732,1.500000,89.648148,95

In [25]:
data.groupby(by='product_tier').mean()

,article_id,price,first_zip_digit,first_registration_year,search_views,detail_views,stock_days2,ctr2,dv_perD,sv_perD,old
product_tier,,,,,,,,,,,
Basic,3.574594e+08,15100.425396,4.644016,2011.122658,1909.310405,82.542171,37.034361,0.047283,2.790178,58.362783,7.877342
Plus,3.590835e+08,12828.761821,4.716287,2009.577933,6754.464098,249.821366,39.831874,0.040950,7.527167,197.687253,9.422067
Premium,3.579793e+08,14648.924341,4.191526,2010.368785,13419.518374,399.963251,34.284911,0.035783,13.323658,436.896388,8.631215

In [26]:
data = data.dropna()

In [27]:
data = data.drop('article_id', axis = 1)

In [28]:
data.groupby('make_name').count()

,product_tier,price,first_zip_digit,first_registration_year,created_date,deleted_date,search_views,detail_views,stock_days2,ctr2,dv_perD,sv_perD,old
make_name,,,,,,,,,,,,,
AC,1,1,1,1,1,1,1,1,1,1,1,1,1
Abarth,21,21,21,21,21,21,21,21,21,21,21,21,21
Aixam,24,24,24,24,24,24,24,24,24,24,24,24,24
Alfa Romeo,532,532,532,532,532,532,532,532,532,532,532,532,532
Alpina,7,7,7,7,7,7,7,7,7,7,7,7,7
Alpine,3,3,3,3,3,3,3,3,3,3,3,3,3
Amphicar,1,1,1,1,1,1,1,1,1,1,1,1,1
Aston Martin,22,22,22,22,22,22,22,22,22,22,22,22,22
Audi,3311,3311,3311,3311,3311,3311,3311,3311,3311,3311,3311,3311,3311
Austin,11,11,11,11,11,11,11,11,11,11,11,11,11
BMW,4551,4551,4551,4551,4551,4551,4551,4551,4551,4551,4551,4551,4551
Bentley,35,35,35,35,35,35,35,35,35,35,35,35,35
Buick,6,6,6,6,6,6,6,6,6,6,6,6,6
Cadillac,23,23,23,23,23,23,23,23,23,23,23,23,23
Caravans-Wohnm,95,95,95,95,95,95,95,95,95,95,95,95,95
Casalini,1,1,1,1,1,1,1,1,1,1,1,1,1
Chatenet,2,2,2,2,2,2,2,2,2,2,2,2,2
Chevrolet,485,485,485,485,485,485,485,485,485,485,485,485,485
Chrysler,117,117,117,117,117,117,117,117,117,117,117,117,117
Citroen,3017,3017,3017,3017,3017,3017,3017,3017,3017,3017,3017,3017,3017
Corvette,5,5,5,5,5,5,5,5,5,5,5,5,5
DFSK,1,1,1,1,1,1,1,1,1,1,1,1,1
DS Automobiles,51,51,51,51,51,51,51,51,51,51,51,51,51
Dacia,440,440,440,440,440,440,440,440,440,440,440,440,440
Daewoo,91,91,91,91,91,91,91,91,91,91,91,91,91
Daihatsu,197,197,197,197,197,197,197,197,197,197,197,197,197
Daimler,4,4,4,4,4,4,4,4,4,4,4,4,4
De Tomaso,4,4,4,4,4,4,4,4,4,4,4,4,4
Dodge,139,139,139,139,139,139,139,139,139,139,139,139,139
Donkervoort,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Microcar,14,14,14,14,14,14,14,14,14,14,14,14,14
Mitsubishi,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067
Morgan,2,2,2,2,2,2,2,2,2,2,2,2,2
Nissan,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014
Oldsmobile,3,3,3,3,3,3,3,3,3,3,3,3,3
Oldtimer,108,108,108,108,108,108,108,108,108,108,108,108,108
Opel,5215,5215,5215,5215,5215,5215,5215,5215,5215,5215,5215,5215,5215
Others,41,41,41,41,41,41,41,41,41,41,41,41,41
Peugeot,5446,5446,5446,5446,5446,5446,5446,5446,5446,5446,5446,5446,5446
Piaggio,1,1,1,1,1,1,1,1,1,1,1,1,1
Pontiac,4,4,4,4,4,4,4,4,4,4,4,4,4
Porsche,524,524,524,524,524,524,524,524,524,524,524,524,524
Renault,6948,6948,6948,6948,6948,6948,6948,6948,6948,6948,6948,6948,6948
Rolls-Royce,9,9,9,9,9,9,9,9,9,9,9,9,9
Rover,23,23,23,23,23,23,23,23,23,23,23,23,23
SEAT,1769,1769,1769,1769,1769,1769,1769,1769,1769,1769,1769,1769,1769
Saab,186,186,186,186,186,186,186,186,186,186,186,186,186
Skoda,1514,1514,1514,1514,1514,1514,1514,1514,1514,1514,1514,1514,1514
SsangYong,27,27,27,27,27,27,27,27,27,27,27,27,27
Subaru,162,162,162,162,162,162,162,162,162,162,162,162,162
Suzuki,1312,1312,1312,1312,1312,1312,1312,1312,1312,1312,1312,1312,1312
TVR,1,1,1,1,1,1,1,1,1,1,1,1,1
Tata,1,1,1,1,1,1,1,1,1,1,1,1,1
Tesla,84,84,84,84,84,84,84,84,84,84,84,84,84
Toyota,3922,3922,3922,3922,3922,3922,3922,3922,3922,3922,3922,3922,3922
Triumph,38,38,38,38,38,38,38,38,38,38,38,38,38
Trucks-Lkw,18,18,18,18,18,18,18,18,18,18,18,18,18
Volkswagen,9424,9424,9424,9424,9424,9424,9424,9424,9424,9424,9424,9424,9424
Volvo,3989,3989,3989,3989,3989,3989,3989,3989,3989,3989,3989,3989,3989
smart,183,183,183,183,183,183,183,183,183,183,183,183,183

In [29]:
import pandas as pd
import numpy as np

In [30]:
from sklearn.preprocessing import LabelEncoder

In [31]:
le = LabelEncoder()

In [32]:
data.head()

,product_tier,make_name,price,first_zip_digit,first_registration_year,created_date,deleted_date,search_views,detail_views,stock_days2,ctr2,dv_perD,sv_perD,old
38868,Basic,Nissan,6850,7,2005,2018-07-04,2018-07-13,297.0,22.0,10.0,0.074074,2.200000,29.700000,14
29915,Basic,Peugeot,850,5,2004,2018-07-04,2018-08-14,3920.0,276.0,42.0,0.070408,6.571429,93.333333,15
45555,Basic,Mercedes-Benz,16950,7,2013,2018-07-04,2018-09-15,1564.0,118.0,74.0,0.075448,1.594595,21.135135,6
77759,Basic,Skoda,2995,6,2010,2018-07-04,2018-07-16,2372.0,183.0,13.0,0.077150,14.076923,182.461538,9
72821,Basic,Toyota,4300,4,2008,2018-07-04,2018-10-01,3215.0,208.0,90.0,0.064697,2.311111,35.722222,11

In [33]:
data.columns

Index(['product_tier', 'make_name', 'price', 'first_zip_digit',
       'first_registration_year', 'created_date', 'deleted_date',
       'search_views', 'detail_views', 'stock_days2', 'ctr2', 'dv_perD',
       'sv_perD', 'old'],
      dtype='object')

In [34]:
iksy = data.drop(['search_views', 'detail_views', 'created_date', 'deleted_date'] ,axis='columns')

In [35]:
iksy['product_tier_n'] = le.fit_transform(iksy['product_tier'])
iksy['make_name_n'] = le.fit_transform(iksy['make_name'])

In [36]:
iksy.columns

Index(['product_tier', 'make_name', 'price', 'first_zip_digit',
       'first_registration_year', 'stock_days2', 'ctr2', 'dv_perD', 'sv_perD',
       'old', 'product_tier_n', 'make_name_n'],
      dtype='object')

In [37]:
X = iksy.drop(['first_registration_year','product_tier', 'make_name', 'stock_days2', 'ctr2', 'dv_perD', 'sv_perD'] ,axis='columns')
ys = data.search_views

In [63]:
ys

38868      297.0
29915     3920.0
45555     1564.0
77759     2372.0
72821     3215.0
3076       231.0
48396      236.0
51363       74.0
71680      204.0
13874     7456.0
6915       635.0
45915      235.0
40192      474.0
77984     2084.0
16815       22.0
13449      470.0
56489     1578.0
25906      148.0
6646       463.0
57451       85.0
34465       26.0
39510      200.0
57453      192.0
27731      105.0
15940      277.0
34466      288.0
5646      1143.0
44025      232.0
24395      692.0
69661     4406.0
          ...
29548     2300.0
45433      334.0
31958      142.0
37023      682.0
56551    31332.0
47927     4814.0
16750     6626.0
72160     1037.0
14865     1449.0
65908     1541.0
53980     6588.0
74757    46908.0
1306     17800.0
14881     2800.0
69387     3350.0
50331      829.0
11596     3936.0
67579     4039.0
9183      1526.0
65756     2343.0
5918      3116.0
45116     3282.0
19594     1104.0
22881     9448.0
9053      4182.0
54299     7961.0
61039      455.0
21128      628.0
17715      800.0
48860      687.0
Name: search_views, Length: 78265, dtype: float64

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
X_train, X_test, ys_train, ys_test = train_test_split(X, ys, test_size=0.2, random_state=0)

In [40]:
from sklearn.preprocessing import StandardScaler

In [41]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

/home/bartek/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/bartek/anaconda3/lib/python3.7/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/home/bartek/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  This is separate from the ipykernel package so we can avoid doing imports until

In [42]:
from sklearn.ensemble import RandomForestRegressor

In [43]:
X

       price  first_zip_digit  old  product_tier_n  make_name_n
38868   6850                7   14               0           64
29915    850                5   15               0           69
45555  16950                7    6               0           60
77759   2995                6    9               0           78
72821   4300                4   11               0           85
3076    1850                4   16               0           67
48396   6450                1   10               0           85
51363   9450                3    3               0           85
71680   9250                3    3               0           85
13874  24890                4    5               0           10
6915   25250                6    4               0           88
45915  24745                7    5               0           58
40192  15900                5    9               0           88
77984  42900                5    4               0            8
16815  13900                6    4               0           88
13449  18900                6    6               0           10
56489  17900                6    9               0           10
25906   6450                2    7               0           69
6646   10495                2    9               0           19
57451   5549                4   10               0           85
34465  11950                6    1               0           69
39510  11950                6    1               0           69
57453  11950                6    1               0           69
27731  12650                6    1               0           69
15940  29950                6    1               0           69
34466  17450                6    1               0           69
5646   18950                6    7               0           88
44025   1900                7   14               0           69
24395   4450                7   12               0           33
69661   1500                7   14               0           33
...      ...              ...  ...             ...          ...
29548  10400                3   11               0           56
45433   3495                3   14               0           32
31958   3290                8   10               0           64
37023    740                5   18               1           33
56551   1440                5   13               1           17
47927  43500                1    3               0           60
16750    440                3   19               0           73
72160    690                3   17               0           69
14865   1190                3   16               0           38
65908   1840                3   12               0           88
53980   1740                3   14               0           67
74757   1740                3   25               0           43
1306     400                3   21               0           67
14881    520                3   21               0           67
69387    540                3   20               0           60
50331  43450                7    1               0           56
11596   6250                7    9               0           81
67579  19950                4    8               0           10
9183   31950                4    5               0            8
65756   4949                1   10               0           85
5918    7250                4    9               0           88
45116   7995                4   13               0           60
19594   7750                4   12               0           88
22881   5950                7   14               0           89
9053    3500                7   18               0            8
54299   2790                3   12               0           88
61039  20950                6    1               0           33
21128  20940                6    1               0           33
17715  23920                6    1               0           64
48860   8950                2    7               0           19

[78265 rows x 5 columns]

In [44]:
regressor = RandomForestRegressor(n_estimators=200, random_state=0)
regressor.fit(X_train, ys_train)
ys_pred = regressor.predict(X_test)

In [45]:
from sklearn.metrics import confusion_matrix
import sklearn.metrics
from sklearn import metrics

In [46]:
print('Mean Absolute Error:', metrics.mean_absolute_error(ys_test, ys_pred))
print('Mean Squared Error:', metrics.mean_squared_error(ys_test, ys_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(ys_test, ys_pred)))

Mean Absolute Error: 2084.0776161700455
Mean Squared Error: 26631094.730673265
Root Mean Squared Error: 5160.532407675904

In [47]:
regressor.score(X_test, ys_test)

0.07827551023121704

In [65]:
pd.DataFrame({'Actual':ys_test, 'Predicted':ys_pred})

        Actual    Predicted
31073    317.0   876.717140
76701   7619.0  9471.475000
68761    941.0   722.652000
69685     43.0  1432.200000
64154    191.0  1880.748333
51744   1811.0  1201.756839
51493    427.0  1295.391667
40108   2090.0  2037.075000
66078    914.0  2836.425833
8798     723.0  1259.574690
42690    280.0   896.550000
4189    1807.0   323.739167
55      1401.0  1179.968214
69824   1171.0   173.991332
16738    325.0   947.275238
60124    420.0  2156.938333
58472    953.0  1224.395000
22562   1830.0  1557.910000
27627    941.0   901.273095
23881   3280.0  1586.691000
36258   1647.0  2390.187500
56648   3322.0  2408.943167
74503   6043.0  3780.955500
38772    174.0  2155.333250
28122   3121.0  2651.450476
31164    259.0  1016.231250
23482   1918.0  1540.572000
19407   1037.0  1591.482000
64625    156.0  1448.337917
38790    369.0  5082.000000
...        ...          ...
69911    184.0   870.925000
65434    568.0  3823.175786
29932   1103.0  1324.066417
20187     94.0  1331.323333
16705    811.0  1670.503083
18100   2323.0   909.387917
38699    140.0  1619.624500
4107    1828.0  1783.376667
35158   1458.0   659.204167
72743    701.0  1543.730583
3999    2715.0  1737.740000
9605    3820.0  1806.581000
29239    684.0   951.092917
15961    509.0  1085.413167
54680   2147.0   674.245750
24012   1106.0   582.520000
10535   8314.0  5274.523500
73417   1336.0  2045.790000
54689   2831.0  5477.118333
74338   1710.0  2432.640000
22001    131.0   750.640000
25241     22.0  2149.035000
33520  24607.0  1733.623750
53425   2435.0  2451.698000
17394   3982.0  8907.481667
51820    203.0   413.363500
2457    1264.0  1864.725000
23777   1001.0  1084.009167
46524   6593.0  1106.034667
59479     94.0  1070.017500

[15653 rows x 2 columns]

In [48]:
X2 = iksy.drop(['first_registration_year','product_tier', 'make_name', 'stock_days2', 'ctr2', 'dv_perD', 'sv_perD'] ,axis='columns')
yd = data.detail_views

In [57]:
X2_train, X2_test, yd_train, yd_test = train_test_split(X2, yd, test_size=0.2, random_state=0)

In [58]:
sc = StandardScaler()
X2_train = sc.fit_transform(X2_train)
X2_test = sc.transform(X2_test)

/home/bartek/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/bartek/anaconda3/lib/python3.7/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/home/bartek/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  This is separate from the ipykernel package so we can avoid doing imports until

In [59]:
regressor = RandomForestRegressor(n_estimators=50, random_state=0)
regressor.fit(X2_train, yd_train)
yd_pred = regressor.predict(X2_test)

In [60]:
print('Mean Absolute Error:', metrics.mean_absolute_error(yd_test, yd_pred))
print('Mean Squared Error:', metrics.mean_squared_error(yd_test, yd_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(yd_test, yd_pred)))

Mean Absolute Error: 91.6982980931201
Mean Squared Error: 53064.075185038964
Root Mean Squared Error: 230.3564090383399

In [61]:
regressor.score(X2_test, yd_test)

-0.0073317135894535035

# Z wyciętymi danymi

In [69]:
data1 = pd.read_csv("cut_data.csv")

In [71]:
data1['product_tier_n'] = le.fit_transform(data1['product_tier'])
data1['make_name_n'] = le.fit_transform(data1['make_name'])

In [72]:
data1.columns

Index(['Unnamed: 0', 'product_tier', 'make_name', 'price', 'first_zip_digit',
       'first_registration_year', 'created_date', 'deleted_date',
       'search_views', 'detail_views', 'ctr', 'stock_days2', 'age',
       'product_tier_n', 'make_name_n'],
      dtype='object')

In [75]:
iksy2 = data1.drop(['Unnamed: 0', 'product_tier', 'make_name', 'first_registration_year', 'created_date', 'deleted_date',
       'search_views', 'detail_views', 'ctr',], axis = 'columns')

In [76]:
X3 = iksy2
ys2 = data1.search_views

In [79]:
X3_train, X3_test, ys2_train, ys2_test = train_test_split(X3, ys2, test_size=0.2, random_state=0)

In [80]:
sc = StandardScaler()
X3_train = sc.fit_transform(X3_train)
X3_test = sc.transform(X3_test)

/home/bartek/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/bartek/anaconda3/lib/python3.7/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/home/bartek/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  This is separate from the ipykernel package so we can avoid doing imports until

In [81]:
regressor = RandomForestRegressor(n_estimators=150, random_state=0)
regressor.fit(X3_train, ys2_train)
ys2_pred = regressor.predict(X3_test)

In [82]:
print('Mean Absolute Error:', metrics.mean_absolute_error(ys2_test, ys2_pred))
print('Mean Squared Error:', metrics.mean_squared_error(ys2_test, ys2_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(ys2_test, ys2_pred)))

Mean Absolute Error: 1384.9514098480172
Mean Squared Error: 15240229.626598768
Root Mean Squared Error: 3903.873669395408

In [83]:
regressor.score(X3_test, ys2_test)

0.49735326709920646

# Z bardziej wyciętymi danymi (data_mn>=150)

In [84]:
cut_data1 = data[data['make_name'].isin(['Alfa Romeo', 'Audi', 'BMW', 'Chevrolet', 'Citroen', 'Dacia',
       'Daihatsu', 'Fiat', 'Ford', 'Honda', 'Hyundai', 'Iveco', 'Jaguar',
       'Jeep', 'Kia', 'Land Rover', 'Lexus', 'MINI', 'Mazda',
       'Mercedes-Benz', 'Mitsubishi', 'Nissan', 'Opel', 'Peugeot',
       'Porsche', 'Renault', 'SEAT', 'Saab', 'Skoda', 'Subaru', 'Suzuki',
       'Toyota', 'Volkswagen', 'Volvo', 'smart'])]

In [85]:
cut_data1['product_tier_n'] = le.fit_transform(cut_data1['product_tier'])
cut_data1['make_name_n'] = le.fit_transform(cut_data1['make_name'])

/home/bartek/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/bartek/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [86]:
cut_data1.columns

Index(['product_tier', 'make_name', 'price', 'first_zip_digit',
       'first_registration_year', 'created_date', 'deleted_date',
       'search_views', 'detail_views', 'stock_days2', 'ctr2', 'dv_perD',
       'sv_perD', 'old', 'product_tier_n', 'make_name_n'],
      dtype='object')

In [87]:
iksy3 = cut_data1.drop(['product_tier', 'make_name',
       'first_registration_year', 'created_date', 'deleted_date',
       'search_views', 'detail_views', 'ctr2', 'dv_perD',
       'sv_perD'], axis = 'columns')

In [88]:
iksy3

       price  first_zip_digit  stock_days2  old  product_tier_n  make_name_n
38868   6850                7         10.0   14               0           21
29915    850                5         42.0   15               0           23
45555  16950                7         74.0    6               0           19
77759   2995                6         13.0    9               0           28
72821   4300                4         90.0   11               0           31
3076    1850                4          7.0   16               0           22
48396   6450                1         16.0   10               0           31
51363   9450                3         10.0    3               0           31
71680   9250                3         22.0    3               0           31
13874  24890                4         90.0    5               0            2
6915   25250                6         57.0    4               0           32
45915  24745                7         14.0    5               0           18
40192  15900                5         32.0    9               0           32
77984  42900                5        127.0    4               0            1
16815  13900                6          2.0    4               0           32
13449  18900                6         10.0    6               0            2
56489  17900                6         29.0    9               0            2
25906   6450                2         25.0    7               0           23
6646   10495                2         49.0    9               0            4
57451   5549                4         29.0   10               0           31
34465  11950                6          7.0    1               0           23
39510  11950                6         73.0    1               0           23
57453  11950                6         67.0    1               0           23
27731  12650                6         29.0    1               0           23
15940  29950                6         90.0    1               0           23
34466  17450                6         10.0    1               0           23
5646   18950                6         59.0    7               0           32
44025   1900                7         17.0   14               0           23
24395   4450                7         11.0   12               0            8
69661   1500                7         81.0   14               0            8
...      ...              ...          ...  ...             ...          ...
29548  10400                3         64.0   11               0           17
45433   3495                3          4.0   14               0            7
31958   3290                8          2.0   10               0           21
37023    740                5          2.0   18               1            8
56551   1440                5         65.0   13               1            3
47927  43500                1        120.0    3               0           19
16750    440                3         66.0   19               0           25
72160    690                3          7.0   17               0           23
14865   1190                3         17.0   16               0           10
65908   1840                3          4.0   12               0           32
53980   1740                3         67.0   14               0           22
74757   1740                3         66.0   25               0           13
1306     400                3         84.0   21               0           22
14881    520                3         17.0   21               0           22
69387    540                3          9.0   20               0           19
50331  43450                7         22.0    1               0           17
11596   6250                7        105.0    9               0           30
67579  19950                4         53.0    8               0            2
9183   31950                4         32.0    5               0            1
65756   4949                1         37.0   10               0           31
5918    7250                4         43.0    9               0           32
45116   7995                4         45.0   13               0           19
19594   7750                4         13.0   12               0           32
22881   5950                7        118.0   14               0           33
9053    3500                7         22.0   18               0            1
54299   2790                3         52.0   12               0           32
61039  20950                6         32.0    1               0            8
21128  20940                6         38.0    1               0            8
17715  23920                6         77.0    1               0           21
48860   8950                2         45.0    7               0            4

[76952 rows x 6 columns]

In [89]:
X4 = iksy3
ys3 = cut_data1.search_views

In [90]:
X4_train, X4_test, ys3_train, ys3_test = train_test_split(X4, ys3, test_size=0.2, random_state=0)

In [91]:
sc = StandardScaler()
X4_train = sc.fit_transform(X4_train)
X4_test = sc.transform(X4_test)

/home/bartek/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/bartek/anaconda3/lib/python3.7/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/home/bartek/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  This is separate from the ipykernel package so we can avoid doing imports until

In [92]:
regressor = RandomForestRegressor(n_estimators=150, random_state=0)
regressor.fit(X3_train, ys2_train)
ys2_pred = regressor.predict(X3_test)

In [93]:
print('Mean Absolute Error:', metrics.mean_absolute_error(ys2_test, ys2_pred))
print('Mean Squared Error:', metrics.mean_squared_error(ys2_test, ys2_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(ys2_test, ys2_pred)))

Mean Absolute Error: 1384.9514098480172
Mean Squared Error: 15240229.626598768
Root Mean Squared Error: 3903.873669395408

In [94]:
regressor.score(X3_test, ys2_test)

0.49735326709920646

# Z search views w X-ach

In [97]:
iksy4 = cut_data1.drop(['product_tier', 'make_name',
       'first_registration_year', 'created_date', 'deleted_date',
    'detail_views', 'ctr2', 'dv_perD',
       'sv_perD'], axis = 'columns')

In [98]:
iksy4

,price,first_zip_digit,search_views,stock_days2,old,product_tier_n,make_name_n
38868,6850,7,297.0,10.0,14,0,21
29915,850,5,3920.0,42.0,15,0,23
45555,16950,7,1564.0,74.0,6,0,19
77759,2995,6,2372.0,13.0,9,0,28
72821,4300,4,3215.0,90.0,11,0,31
3076,1850,4,231.0,7.0,16,0,22
48396,6450,1,236.0,16.0,10,0,31
51363,9450,3,74.0,10.0,3,0,31
71680,9250,3,204.0,22.0,3,0,31
13874,24890,4,7456.0,90.0,5,0,2
6915,25250,6,635.0,57.0,4,0,32
45915,24745,7,235.0,14.0,5,0,18
40192,15900,5,474.0,32.0,9,0,32
77984,42900,5,2084.0,127.0,4,0,1
16815,13900,6,22.0,2.0,4,0,32
13449,18900,6,470.0,10.0,6,0,2
56489,17900,6,1578.0,29.0,9,0,2
25906,6450,2,148.0,25.0,7,0,23
6646,10495,2,463.0,49.0,9,0,4
57451,5549,4,85.0,29.0,10,0,31
34465,11950,6,26.0,7.0,1,0,23
39510,11950,6,200.0,73.0,1,0,23
57453,11950,6,192.0,67.0,1,0,23
27731,12650,6,105.0,29.0,1,0,23
15940,29950,6,277.0,90.0,1,0,23
34466,17450,6,288.0,10.0,1,0,23
5646,18950,6,1143.0,59.0,7,0,32
44025,1900,7,232.0,17.0,14,0,23
24395,4450,7,692.0,11.0,12,0,8
69661,1500,7,4406.0,81.0,14,0,8
...,...,...,...,...,...,...,...
29548,10400,3,2300.0,64.0,11,0,17
45433,3495,3,334.0,4.0,14,0,7
31958,3290,8,142.0,2.0,10,0,21
37023,740,5,682.0,2.0,18,1,8
56551,1440,5,31332.0,65.0,13,1,3
47927,43500,1,4814.0,120.0,3,0,19
16750,440,3,6626.0,66.0,19,0,25
72160,690,3,1037.0,7.0,17,0,23
14865,1190,3,1449.0,17.0,16,0,10
65908,1840,3,1541.0,4.0,12,0,32
53980,1740,3,6588.0,67.0,14,0,22
74757,1740,3,46908.0,66.0,25,0,13
1306,400,3,17800.0,84.0,21,0,22
14881,520,3,2800.0,17.0,21,0,22
69387,540,3,3350.0,9.0,20,0,19
50331,43450,7,829.0,22.0,1,0,17
11596,6250,7,3936.0,105.0,9,0,30
67579,19950,4,4039.0,53.0,8,0,2
9183,31950,4,1526.0,32.0,5,0,1
65756,4949,1,2343.0,37.0,10,0,31
5918,7250,4,3116.0,43.0,9,0,32
45116,7995,4,3282.0,45.0,13,0,19
19594,7750,4,1104.0,13.0,12,0,32
22881,5950,7,9448.0,118.0,14,0,33
9053,3500,7,4182.0,22.0,18,0,1
54299,2790,3,7961.0,52.0,12,0,32
61039,20950,6,455.0,32.0,1,0,8
21128,20940,6,628.0,38.0,1,0,8
17715,23920,6,800.0,77.0,1,0,21
48860,8950,2,687.0,45.0,7,0,4

In [99]:
X5 = iksy4
yd2 = cut_data1.detail_views

In [100]:
X5_train, X5_test, yd2_train, yd2_test = train_test_split(X5, yd2, test_size=0.2, random_state=0)

In [101]:
sc = StandardScaler()
X5_train = sc.fit_transform(X5_train)
X5_test = sc.transform(X5_test)

/home/bartek/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/bartek/anaconda3/lib/python3.7/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/home/bartek/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  This is separate from the ipykernel package so we can avoid doing imports until

In [102]:
regressor = RandomForestRegressor(n_estimators=150, random_state=0)
regressor.fit(X5_train, yd2_train)
yd2_pred = regressor.predict(X5_test)

In [103]:
print('Mean Absolute Error:', metrics.mean_absolute_error(yd2_test, yd2_pred))
print('Mean Squared Error:', metrics.mean_squared_error(yd2_test, yd2_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(yd2_test, yd2_pred)))

Mean Absolute Error: 38.949774148053955
Mean Squared Error: 11441.894630227202
Root Mean Squared Error: 106.96679218443077

In [104]:
regressor.score(X5_test, yd2_test)

0.7193019347104885